.seccion {
    display: grid;
    align-items: end;
    row-gap: 2rem;
}

.seccion-horizontal, .seccion-vertical {
    grid-template-rows: 70px auto;
}

.seccion-horizontal .seccion__tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(80% / 2, max(350px, 80% / 3)), 1fr));
    gap: 1.25rem;
}

