.menu-lateral {
    display: grid;
   grid-template-rows: repeat(3, auto) 1fr;
}

.menu-lateral__logo {
    justify-self: center;
}

.menu-lateral__link {
    display: flex;
    align-items: center;
}